body{
  background-color: #444;
  color: #FFF;
  font-family: sans-serif;
}
img{
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}
p.nav{
  font-size: 200%;
  text-align: center;
}
a.nav:link, a.nav:visited, a.nav:active{
  color: #FFF;
  margin: 16px;
  text-decoration: none;
}
a.nav:hover{
  color: #999;
}
div.block{
  background-color: #FFF;
  border: 1px solid black;
  border-color: #CCC;
  border-radius: 16px;
  color: #333;
  float: left;
  height: 300px;
  margin: 8px;
  overflow: auto;
  padding: 10px;
  width: 400px;
}
div.container{
  background-color: #333;
  border: 0px;
  border-radius: 16px;
  margin: 16px 0px 0px 0px;
  max-height: 500px;
  overflow: auto;
  width: 100%;
}
div.title{
  background-color: #222;
  color: #FFF;
  float: left;
  font-family: serif;
  font-size: 400%;
  margin: auto;
  text-align: center;
  width: 100%;
}
iframe{
  border: none;
  width: 100%;
  height: 100%;
}
